
<p>
  <strong>Name</strong>
  <%= @hotel.name %>
</p>

<p>
  <strong>Description</strong>
  <%= @hotel.description %>
</p>    

<p>
  <strong>Address</strong>
  <%= @hotel.address %>
</p>  

<p>
  <strong>Review</strong>
  <%= @hotel.review_count %>
</p> 
<ul>
  <li><%= link_to "Edit", edit_hotel_path %></li>
</ul>

<h2>Reviews</h2>
<%= render @hotel.reviews %>

<h2>Add a Review:</h2>
<%= render 'reviews/form' %>

   